<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <ion-icon name="book-outline" class="ion-margin-end"></ion-icon>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset"  *ngFor="let book of books" (click)="showBook(book)">
    <ion-item>
      <div>    
        <img src="{{book.cover}}"/>
        <div class="nombre">
          <span >{{book.name}}</span>
        </div>    
      </div>  
   </ion-item>
</ion-list>
 
</ion-content>
