@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/source_sans_pro.woff2') format('woff2');
  }
  *{
    font-family: 'Source Sans Pro', sans-serif;
  }

  @font-face {


    font-family: 'gabardina';


    src: url('/assets/fonts/Gabardina-regular.ttf');


}
@font-face {
    font-family: 'TituloHarry';
    src: url('/assets/fonts/TituloPercy.ttf');
}
@font-face {
    font-family: 'Titulo3';
    src: url('/assets/fonts/titulo3.ttf');
}
@font-face {
    font-family: 'Titulo4';
    src: url('/assets/fonts/titulo4.ttf');
}